@import '../config/importer.scss';

.AppDownload {
  display: none;
  padding: space(md);
  color: color(text, dark);
  background-color: color(background, secondary);

  @include responsive(md) {
    display: block;
  }

  &-wrapper {
    @extend %block-center;
    width: column(7);
    padding-left: 13.4375rem;
    position: relative;
  }

  &-devices {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    img {
      position: relative;
      width: 100%;
      max-width: 120px;
    }

    img + img {
      top: 10px;
      max-width: 110px;
      margin-left: -20px;
    }
  }

  a {
    display: inline-block;

    img {
      display: block;
      max-height: 1.5rem;
      width: auto;
    }
  }

  h2 {
    font-weight: normal;
    margin-top: space(sm);
    margin-bottom: space(sm);
  }

  label {
    display: inline-block;
    margin-bottom: space(sm);
    font-size: font-size(xs);
  }

  input { @extend %input; }

  button {
    @extend %button-bordered;
    color: color(button, secondary);
    font-size: font-size(xs);
    white-space: nowrap;
  }

  &-form-group {
    display: flex;

    div {
      // width: 100%;
      margin-right: space(xs);
    }
  }
}
